/* Reseteo de propiedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Pagina NO funcional */

/** BODY **/

.img__registro{

    position: relative;
    top: 220px;
    left: 550px;

}

.img__cruz{

    position: relative;
    bottom: 350px;
    left: 1000px;
}


/** FOOTER **/

.caja__footer{

    position: relative;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 8%;
    background-color: #fff;
    text-align: center;
    align-items:  center;
}

.texto__footer{

    position: relative;
    left: 40%;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'Montserrat';
}